* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

#message-banner {
    height: 115px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    line-height: 115px;
    font-size: 54px;
    font-weight: normal;
}

#board-container {
    background-color: #000000;
    height: 744px;
    width: 40.4%;
    margin: 0 auto;
    overflow: hidden;
}

#board-container > div {
    background-color: white;
    width: 32.96%;
    height: 246px;
    margin-bottom: 5px;
    vertical-align: top;
    display: inline-block;
}

#board-container p {
    font-family: 'Permanent Marker', cursive;
    height: 243px;
    line-height: 243px;
    text-align: center;
    font-size: 144px;
    font-weight: bold;
}

#footer {
    height: 50px;
    width: 40%;
    margin: 0 auto;
    padding-top: 30px;
    clear: both;
}

#button-wrapper {
    height: 50px;
    width: 32%;
    margin: 0 auto;
    float: left;
}

#button-wrapper > button {
    height: 50px;
    width: 100%;
    font-size: 18px;
    background-color: #f3f3f3;
    border-color: #d1d1d1;
    border-style: solid;
    border-width: 2px;
}

#x-score-container {
    height: 50px;
    width: 34%;
    float: left;
}

#o-score-container {
    height: 50px;
    width: 34%;
    float: left;
}

#footer p {
    font-size: 32px;
    line-height: 50px;
    text-align: center;
}

@media screen and (max-height: 900px) {
    #message-banner {
        height: 95px;
        line-height: 95px;
        font-size: 47px;
    }

    #board-container {
        height: 580px;
        width: 609.9px;
    }

    #board-container > div {
        width: 200.5px;
        height: 190px;
    }

    #board-container p {
        height: 190px;
        line-height: 190px;
    }

    #footer {
        padding-top: 20px;
    }
}
